/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
/* -- quantity box -- */
#cf7sendwa-quickshop-container .quantity {
    display: inline-block; text-align: center; 
}
#cf7sendwa-quickshop-container input[type=button].sp-woopos-minus {
    display:inline;
    float:left;
}
span.cf7sendwa-single-product-button {
	display:inline-block;
	padding: 5px 5px;
	width: auto;
}
div.cf7sendwa-single-product-button {
	padding: 10px 0px;
	display: table;
	width: auto;
}
#cf7sendwa-quickshop-container .quantity input[type="number"].input-text.qty {
	padding: 0px;
	text-align: center;
	background-color: transparent;
	border: 0px;
    width: 40px;
    margin: 0px 4px;
}
#cf7sendwa-quickshop-container .quantity.buttons_added {
	text-align: left;
	position: relative;
	white-space: nowrap;
	vertical-align: top; 
    padding-right: 15px;
}
body.cf7sendwa-single-product #cf7sendwa-quickshop-container .quantity.buttons_added { 
    padding-right: 0px;
}
#cf7sendwa-quickshop-container .quantity.buttons_added .sp-woopos-minus,
#cf7sendwa-quickshop-container .quantity.buttons_added .sp-woopos-plus {
    display: inline-block;
    padding: 5px 0px;
    width: 30px;
    border: 0px;
    cursor:pointer;
    -webkit-appearance: none;
    color:#fff;
    background: #000;
    text-decoration: none!important;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
}
body.cf7sendwa-single-product #cf7sendwa-quickshop-container .quantity.buttons_added .sp-woopos-minus,
body.cf7sendwa-single-product #cf7sendwa-quickshop-container .quantity.buttons_added .sp-woopos-plus {
    padding: 8px 10px;
}
#cf7sendwa-quickshop-container input[type="number"]::-webkit-outer-spin-button,
#cf7sendwa-quickshop-container input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
#cf7sendwa-quickshop-container input[type="number"] {
  -moz-appearance: textfield;
}

#cf7sendwa-quickshop-container button.variant-option-button {
	border:0px;
	font-size:0.90em;
	font-weight: 500;
    border-radius: 5px;
}
#cf7sendwa-quickshop-container button.variant-option-button .angle-down,
#cf7sendwa-quickshop-container button.variant-option-button .angle-up {
    display: flex;
    align-items: center;
}
#cf7sendwa-quickshop-container button.variant-option-button .dashicons, 
#cf7sendwa-quickshop-container button.variant-option-button .dashicons-before:before {
    line-height: 1.3rem;
}
#cf7sendwa-quickshop-container * {
	font-size: 1em;	
}
#cf7sendwa-quickshop-container .quantity a.minus,
#cf7sendwa-quickshop-container .quantity a.plus {
    display:none;
}
#cf7sendwa-quickshop-container .category-title {
	font-weight: 600;
	border-bottom: 1px solid #eee;
	padding: 0px 0px 10px;
	margin-bottom: 10px;
	font-size: 1.3em;
} 
#cf7sendwa-quickshop-container .product-cat-container {
	margin-bottom: 20px;
	min-height: 150px;
}
#cf7sendwa-quickshop-container .product-item {
	margin-bottom: 10px;
	padding: 10px;
	position: relative;
}

.cf7sendwa-quickshop-checkout-header.single-product {
	margin-bottom: 20px;
}

#cf7sendwa-quickshop-container .product-item .item-price {
	padding-top: 5px;
	padding-bottom: 5px;
}
#cf7sendwa-quickshop-container .product-item .item-subtotal {
	text-align: right;
	font-weight: 500;
}
#cf7sendwa-quickshop-container .product-item.grid-mode {
    padding:0px;
    margin-bottom: 25px;
}
#cf7sendwa-quickshop-container .product-item.grid-mode:nth-child(even) {
    background-color:inherit;
}

#cf7sendwa-quickshop-container .product-item.variations:nth-child(even) {
	background-color: #f9f9f9;
}

#cf7sendwa-quickshop-container .product-item .item-block-grid {
    display:block;
}
#cf7sendwa-quickshop-container .product-item .item-block-grid .product-featured-image {
    padding: 0px 5px;
}
#cf7sendwa-quickshop-container .product-item-info {
	padding: 10px 20px;
}
body.cf7sendwa-single-product #cf7sendwa-quickshop-container .product-item-info {
	padding-right: 0px;
}
#cf7sendwa-quickshop-container .variations .product-item-info {
	padding: 5px 0px;
}
#cf7sendwa-quickshop-container .product-item.grid-mode .product-item-info {
	padding: 5px 5px;
}
#cf7sendwa-quickshop-container .grid-mode-variation .product-item {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.grid-mode-variation .product-item .item-subtotal {
    text-align: right;
    padding-top:5px;
}
#cf7sendwa-quickshop-container .stock-status,
#cf7sendwa-product-detail .stock-status {
	font-size: 80%;
	color:#ccc;
}
#cf7sendwa-quickshop-container .stock-status.outofstock {
	color:#9e2121;
}
#cf7sendwa-quickshop-container .product-item h4 {
	font-size:1.1em;
	font-weight: 600;
	margin-bottom: 0px;
}
#cf7sendwa-quickshop-container .product-item.variations h4 {
    font-size: 1em;
}
#cf7sendwa-quickshop-container .variations {
	border-left: 5px solid #333;
	margin-left: 0px;
	margin-bottom: 0px;
}
.cf7sendwa-quickshop-checkout {
	margin-bottom: 10px;
	font-size: 0.975em;
	background: #fff;
}
#cf7sendwa-checkout .sticky-wrapper .cf7sendwa-quickshop-checkout {
	max-height: 70vh;
	overflow-x: auto;
	overflow-y: auto;
}
button.cf7sendwa-add-to-cart { width: 100%; font-size: 0.975em; }

.cf7sendwa-quickshop-checkout .table-cart, 
.cf7sendwa-quickshop-checkout-header .table-cart { border:0px; vertical-align:top; margin-bottom: 0px; }

.cf7sendwa-quickshop-checkout-header .table-cart tr td,
.cf7sendwa-quickshop-checkout .table-cart tr td { border:0px; vertical-align: top; }

.cf7sendwa-quickshop-checkout-header .table-cart thead tr td { font-weight: 600; padding-bottom: 5px; }
.cf7sendwa-quickshop-checkout .table-cart tbody tr td {
	border-top: 1px dotted #ccc;
	padding-top: 10px;
}

.cf7sendwa-quickshop-checkout-header .table-cart .cart-nominal,
.cf7sendwa-quickshop-checkout .table-cart .cart-nominal {
	text-align: right;
}
a.cf7sendwa-checkout-item-remove { font-size: 0.80em; color:#972a2a; }
a.cf7sendwa-checkout-item-title { color: #000; text-decoration: none; }
.cf7sendwa-woo-filter {
	padding: 20px 3px;
	margin-bottom: 30px;
	background: transparent;
}
.cf7sendwa-woo-categories { width:100%; font-family: inherit; font-size: inherit; }
.cf7sendwa-woo-filter input[type="text"] {
	width: 100%;
	border:0px;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
	padding: 8px 0px 4px;	
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
}
#cf7sendwa-quickshop-container .select2-container--default .select2-results__option {
	font-size: 0.975em;
}
.cf7sendwa-woo-filter .select2-container {
	margin-top:7px;
}
#cf7sendwa-quickshop-container .select2-container--default .select2-selection--single .select2-selection__rendered {
	border:0px;
}
#cf7sendwa-quickshop-container div.cf7sendwa-product-sku,
div.cf7sendwa-product-sku {
	font-size: 0.80em;
	color: #666;
	font-style: italic;
}
/* product detail */
.jquery-modal.blocker.current {
	z-index: 99999!important;
}
#cf7sendwa-quickshop-container .woo-link-detail { color: #000; text-decoration: none; }
#cf7sendwa-product-detail.product-item-detail h2 {
    font-weight: 700;
    padding-top:25px;
}
#cf7sendwa-product-detail .product-item-detail-desc .woocommerce-Price-amount {
    font-size: 18px;
    font-weight: 500;
}
#cf7sendwa-product-detail.product-item-detail .product-item-description { color: #666; margin-top:10px; }
#cf7sendwa-product-detail.product-item-detail .product-item-description p { margin-bottom: 0px; }
#cf7sendwa-product-detail .product-item-detail-description {
	color: #666; padding-top: 20px;
}
#cf7sendwa-product-detail.product-item-detail .detail-image {
    padding:0px;
    margin:0px;
}
#cf7sendwa-product-detail.product-item-detail .detail-content {
	background-color: #ffffff;
}
#cf7sendwa-product-detail .product-item-detail-desc {
    padding: 20px;
}
#cf7sendwa-product-detail .product-item-detail-desc h3 {
    font-weight: 700;
    font-size: 20px;
}
table.quickshop-product-attributes {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 85%;
    border:0px;
}
table.quickshop-product-attributes td.label {
    font-weight: bold;
    width: auto;
}
table.quickshop-product-attributes td {
	border: 0px;
    font-weight: normal;
    width: auto;
    padding:5px;
    border-bottom: 1px solid #eee;
}
.cf7sendwa-floating-button {
	position: fixed;
	padding: 10px;
	z-index: 100;
}
.cf7sendwa-float-button-wrapper {
	position:relative;
}
.cf7sendwa-floating-button a img {
	width: 50px;
	border-radius: 50%;
}

.cf7sendwa-modal-title {
	background-color: #000000;
	color: #ffffff;
	padding: 15px 25px;
    margin-top: 0px;
	margin-bottom: 14px;
	font-weight:600;
    font-size: 1.15rem;
}

.cf7sendwa-cf7-container.form-popup br { display:none; }
.cf7sendwa-cf7-container.form-popup .wpcf7-not-valid-tip { 
	font-size: 0.90em; 
	font-family: inherit; font-weight: 500;
	display:block!important;
}
.cf7sendwa-cf7-container.form-popup .wpcf7 {
	padding: 15px 25px 25px;
}
.cf7sendwa-cf7-container.form-popup .wpcf7 p {
	margin: 0px;
}

.cf7sendwa-quickshop-checkout-header.single-product table td,
.cf7sendwa-quickshop-checkout-header.single-product table th {
    padding: 10px 0px;
}

@media only screen and (max-width: 750px) {
	.cf7sendwa-woo-filter .filter-block:nth-child(2) input[type="text"] {
		margin-top: 20px;
	}
	.cf7sendwa-woo-filter .grid-50.filter-block	{
		padding:0px;
	}
    .product-item-detail h2 {
        padding-top: 0px;
    }
    .product-item-detail-description {
        padding-top:0px;
    }    
    #cf7sendwa-quickshop-container .product-item {
        padding: 0px;
    }    
    #cf7sendwa-quickshop-container .variations {
        margin-left: 0px;
        padding-bottom: 10px;
        padding-top: 10px;
    }    
    #cf7sendwa-quickshop-container .variations .item-price {
        padding:0px;
    }
    #cf7sendwa-quickshop-container input[type="number"] {
        padding: 5px;
    }
}
.sp-mobile-flex-content {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;        
    justify-content: space-between;
}
#cf7sendwa-quickshop-container .product-item-info {
    flex: 1;    
}    
#cf7sendwa-quickshop-container .product-item.variations .item-block {
    padding: 0px 10px;
}
#cf7sendwa-quickshop-container .product-item.variations .item-block.item-price {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

/* single product */
body.cf7sendwa-single-product form.cart:not(.variations_form),
body.cf7sendwa-single-product form.variations_form .woocommerce-variation-add-to-cart {
    display: flex;
    align-items: center;
}
body.cf7sendwa-single-product form.variations_form {
    display: block;
}

.cf7sendwa-single-product-button a,
.cf7sendwa-single-product-button .button { display:flex!important; align-items: center; }
.cf7sendwa-single-product-button .buttonicon { margin-right: 7px; }

@media only screen and (min-width: 750px) {
	.cf7sendwa-woo-filter .filter-block:first-child {
		padding-left:0px;
	}
	.cf7sendwa-woo-filter .filter-block:last-child {
		padding-right:0px;
	}        
    .sp-flex-content {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;        
    }    
    .sp-flex-first {
        padding-left: 0px!important;
    }
    .sp-flex-last {
        padding-right: 0px!important;
    }    
    #cf7sendwa-quickshop-container .quantity .input-text.qty {
        width: 50px;
    }    
    #cf7sendwa-quickshop-container .product-item:not(.variations) .product-item-info {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
    }    
    #cf7sendwa-quickshop-container .product-item:not(.variations) .product-item-info.has-variations {
        display: flex;
    }
    body.cf7sendwa-single-product #cf7sendwa-quickshop-container .product-item.current-single:not(.variations) .product-item-info {
        display:flex;
        justify-content: space-between;
    }
    body.cf7sendwa-single-product #cf7sendwa-quickshop-container .product-item.current-single:not(.variations) .product-item-info.has-variations {
        display: block;        
    }
    
    #cf7sendwa-quickshop-container .product-item.current-single {
        padding: 0px;
    }
    
    #cf7sendwa-quickshop-container .product-item.variations {
        display: grid;
        grid-template-columns: 50% 50%;     
        align-items: center;
    }
    /*body.cf7sendwa-single-product #cf7sendwa-quickshop-container .product-item.variations {
        grid-template-columns: 65% 25%;        
    }*/
    body.cf7sendwa-single-product #cf7sendwa-quickshop-container .product-item.variations {
        display: flex;
        justify-content: space-between;   
    }
    
    .sp-product-detail {
        padding: 10px 20px;
    }
    .product-item-detail-desc {
        padding-top:0px;        
    }
    
    #cf7sendwa-quickshop-container .width-20,
    #cf7sendwa-product-detail .width-20 { width: 20%; }
    #cf7sendwa-quickshop-container .width-30,
    #cf7sendwa-product-detail .width-30 { width: 30%; }
    #cf7sendwa-quickshop-container .width-40,
    #cf7sendwa-product-detail .width-40 { width: 40%; }
    #cf7sendwa-quickshop-container .width-50,
    #cf7sendwa-product-detail .width-50 { width: 50%; }
    #cf7sendwa-quickshop-container .width-60,
    #cf7sendwa-product-detail .width-60 { width: 60%; }
    #cf7sendwa-quickshop-container .width-70,
    #cf7sendwa-product-detail .width-70 { width: 70%; }
    #cf7sendwa-quickshop-container .width-80,
    #cf7sendwa-product-detail .width-80 { width: 80%; }
    
    #cf7sendwa-quickshop-container .width-20,
    #cf7sendwa-product-detail .width-20,
    #cf7sendwa-quickshop-container .width-30,
    #cf7sendwa-product-detail .width-30,
    #cf7sendwa-quickshop-container .width-40,
    #cf7sendwa-product-detail .width-40,
    #cf7sendwa-quickshop-container .width-50,
    #cf7sendwa-product-detail .width-50,
    #cf7sendwa-quickshop-container .width-60,
    #cf7sendwa-product-detail .width-60,
    #cf7sendwa-quickshop-container .width-70,
    #cf7sendwa-product-detail .width-70,
    #cf7sendwa-quickshop-container .width-80,
    #cf7sendwa-product-detail .width-80 {
        padding-left: 10px;
        padding-right: 10px;
    }
}