/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
/* -- quantity box -- */
.quantity {
 display: inline-block; text-align: center; }
input[type=button].sp-woopos-minus {
    display:inline;
    float:left;
}
.quantity .input-text.qty {
 width: 35px;
 height: 39px;
 padding: 0 5px;
 text-align: center;
 background-color: transparent;
 border: 1px solid #efefef;
}
.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top; }
.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}
.quantity.buttons_added .sp-woopos-minus,
.quantity.buttons_added .sp-woopos-plus {
 padding: 7px 15px 8px 15px;
 height: 40px;
 border: 1px solid #efefef;
 cursor:pointer;
 -webkit-appearance: none;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }
 
.quantity.buttons_added .sp-woopos-minus:focus,
.quantity.buttons_added .sp-woopos-plus:focus {
 outline: none; }

#cf7sendwa-quickshop-container * {
	font-size: 1em;	
} 
#cf7sendwa-quickshop-container .quantity a.minus,
#cf7sendwa-quickshop-container .quantity a.plus {
    display:none;
}
#cf7sendwa-quickshop-container .category-title {
	font-weight: 600;
	border-bottom: 1px solid #eee;
	padding: 0px 0px 10px;
	margin-bottom: 10px;
	font-size: 1.3em;
} 
#cf7sendwa-quickshop-container .product-cat-container {
	margin-bottom: 20px;
	min-height: 150px;
}
#cf7sendwa-quickshop-container .product-item {
	margin-bottom: 10px;
	padding: 10px;
	position: relative;
}

#cf7sendwa-checkout .grid-50,
#cf7sendwa-checkout .mobile-grid-50,
#cf7sendwa-checkout .grid-100,
#cf7sendwa-checkout .mobile-grid-100 {
	padding-left:0px;
	padding-right:0px;		
}

#cf7sendwa-quickshop-container .product-item .item-price {
	padding-top: 5px;
	padding-bottom: 5px;
}
#cf7sendwa-quickshop-container .product-item .item-subtotal {
	text-align: right;
	font-weight: 500;
}
#cf7sendwa-quickshop-container .product-item.grid-mode {
    padding:0px;
    margin-bottom: 25px;
}
#cf7sendwa-quickshop-container .product-item.grid-mode:nth-child(even) {
    background-color:inherit;
}
#cf7sendwa-quickshop-container .product-item:nth-child(even) {
	background-color: #f9f9f9;
}
#cf7sendwa-quickshop-container .product-item .item-block-grid {
    display:block;
}
#cf7sendwa-quickshop-container .product-item .item-block-grid .product-featured-image {
    padding: 0px 5px;
}
#cf7sendwa-quickshop-container .product-item .item-block {     
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;        
}
#cf7sendwa-quickshop-container .product-item-info {
	padding: 10px 20px;
}
#cf7sendwa-quickshop-container .variations .product-item-info {
	padding:5px;
}
#cf7sendwa-quickshop-container .product-item.grid-mode .product-item-info {
	padding: 5px 5px;
}
.grid-mode-variation .product-item {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.grid-mode-variation .product-item .item-subtotal {
    text-align: right;
    padding-top:5px;
}
#cf7sendwa-quickshop-container .stock-status,
#cf7sendwa-product-detail .stock-status {
	font-size: 80%;
	color:#ccc;
}
#cf7sendwa-quickshop-container .stock-status.outofstock {
	color:#9e2121;
}
#cf7sendwa-quickshop-container .product-item h4 {
	font-size:1.1em;
	font-weight: 600;
	margin-bottom: 0px;
}
#cf7sendwa-quickshop-container .variations {
	border-left: 5px solid #333;
	margin-left: 10px;
	margin-bottom: 0px;
}
.cf7sendwa-quickshop-checkout {
	margin-bottom: 10px;
	font-size: 0.975em;
	background: #fff;
}
#cf7sendwa-checkout .sticky-wrapper .cf7sendwa-quickshop-checkout {
	max-height: 70vh;
	overflow: scroll;
}
button.cf7sendwa-add-to-cart { width: 100%; font-size: 0.975em; }

.cf7sendwa-quickshop-checkout .table-cart, 
.cf7sendwa-quickshop-checkout-header .table-cart { border:0px; vertical-align:top; margin-bottom: 0px; }

.cf7sendwa-quickshop-checkout-header .table-cart tr td,
.cf7sendwa-quickshop-checkout .table-cart tr td { border:0px; vertical-align: top; }

.cf7sendwa-quickshop-checkout-header .table-cart thead tr td { font-weight: 600; padding-bottom: 5px; }
.cf7sendwa-quickshop-checkout .table-cart tbody tr td {
	border-top: 1px dotted #ccc;
	padding-top: 10px;
}

.cf7sendwa-quickshop-checkout-header .table-cart .cart-nominal,
.cf7sendwa-quickshop-checkout .table-cart .cart-nominal {
	text-align: right;
}
a.cf7sendwa-checkout-item-remove { font-size: 0.80em; color:#972a2a; }
a.cf7sendwa-checkout-item-title{ color: #000; text-decoration: none; }
.cf7sendwa-woo-filter {
	padding: 20px 3px;
	margin-bottom: 30px;
	background: transparent;
}
.cf7sendwa-woo-categories { width:100%; font-family: inherit; font-size: inherit; }
.cf7sendwa-woo-filter input[type="text"] {
	width: 100%;
	border:0px;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
	padding: 8px 0px 4px;	
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
}
.select2-container--default .select2-results__option {
	font-size: 0.975em;
}
.cf7sendwa-woo-filter .select2-container {
	margin-top:7px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	border:0px;
}
#cf7sendwa-quickshop-container div.cf7sendwa-product-sku,
div.cf7sendwa-product-sku {
	font-size: 0.80em;
	color: #666;
	font-style: italic;
}
/* product detail */
.jquery-modal.blocker.current {
	z-index: 99999!important;
}
#cf7sendwa-quickshop-container .woo-link-detail { color: #000; }
.product-item-detail h2 {
    font-weight: 700;
    padding-top:25px;
}
.product-item-detail-desc .woocommerce-Price-amount {
    font-size: 18px;
    font-weight: 500;
}
.product-item-detail .product-item-description { color: #666; margin-top:10px; }
.product-item-detail .product-item-description p { margin-bottom: 0px; }
.product-item-detail-description {
	color: #666; padding-top: 20px;
}
#cf7sendwa-product-detail {
}
.product-item-detail .detail-image {
    padding:0px;
    margin:0px;
}
.product-item-detail .detail-content {
	background-color: #ffffff;
}
.product-item-detail-desc {
    padding: 20px;
}
.product-item-detail-desc h3 {
    font-weight: 700;
    font-size: 20px;
}
table.quickshop-product-attributes {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 85%;
    border:0px;
}
table.quickshop-product-attributes td.label {
    font-weight: bold;
    width: auto;
}
table.quickshop-product-attributes td {
	border: 0px;
    font-weight: normal;
    width: auto;
    padding:5px;
    border-bottom: 1px solid #eee;
}

@media only screen and (max-width: 750px) {
	.cf7sendwa-woo-filter .filter-block:nth-child(2) input[type="text"] {
		margin-top: 20px;
	}
	.cf7sendwa-woo-filter .grid-50.filter-block	{
		padding:0px;
	}
    .product-item-detail h2 {
        padding-top: 0px;
    }
    .product-item-detail-description {
        padding-top:0px;
    }
}
@media only screen and (min-width: 750px) {
	.cf7sendwa-woo-filter .filter-block:first-child {
		padding-left:0px;
	}
	.cf7sendwa-woo-filter .filter-block:last-child {
		padding-right:0px;
	}
}
@media only screen and (min-width: 600px) {
	
    #cf7sendwa-quickshop-container .product-item {
        padding-left: 0px!important;
        padding-right: 0px!important;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;    
    }
}
 